body {
    margin: auto 80px;
    
}

#container {
    background: #1F2937;
    height: 400px;
    width: 400px;
    text-align: left;
    margin: auto;
    padding: 90px 60px;

}

h1 {
    font-family: 'Karla', sans-serif;
    font-size: 40px;
    font-weight: 800;
    line-height: 40px;    
    letter-spacing: -0.025em;
    color: #FFFFFF;
    margin-bottom: 0;
}

span {
    font-family: Inter;
    font-size: 40px;
    font-weight: 800;
    line-height: 40px;    
    letter-spacing: -0.025em;
    color: #4ADF86;
}

h2 {
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: #D5D4D8;
    margin-bottom: 45px;    
    margin-top: 5px;
}

h4 {
    width: 185px;
    border-radius: 6px;
    background: #273549;
    color: #10B981;
    text-align: center;
    padding-top: 10px; 
    padding-bottom: 10px; 
}

input {    
    margin-right: 15px;
    padding: 11px;    
    border-radius: 6px;
    border: none;
}

#password-length {
    width: 50px;
}

#password-type {
    width: 100px;
    border: red;
    padding: 11px;
    border-radius: 6px;    
    margin-right: 15px;
    font-family: Inter;
    color: #393D47;
}

button {
    background: #10B981;
    padding: 9px 17px 9px 15px;
    border-radius: 6px;
    border: none;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
    margin: 20px 0;
}


.password-area {
    display: flex;
    justify-content: space-between;
}